@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');



* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.body {
    background-color: #071323;
}


header {
    background-color: #071323;
    border-bottom: 1.5px solid white;
}

header .justify-content-around .d-flex .header-text {
    color: #39DDF5;
}

.header-actions div:nth-child(2) button {
    color: white;
    background: none;
    border: 1px solid #39DDF5;
}

.header-actions div:nth-child(1) ul li {
    list-style: none;
}

main .row {
    margin-top: 50px;
}

#img {
    border-top-left-radius: 900px;
    border-top-right-radius: 2020px;
    border-bottom-right-radius: 1020px;
    border-bottom-left-radius: 1000px;

}

.head-span-color {
    color: #39DDF5;
}

.head-span-color-second{
    color: #2A85AB;
}

.head-text-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.head-text-container-second {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-text-button{
    background: none;
    border: 1px solid #39DDF5;
}

.head-text-container-third {
    margin-top: 50px;
    background-color: #0C1827;
}

.head-text-container-third .justify-content-center h2 {
    font-size: 2.5rem;
}

.middle-text-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.middle-text-container:nth-child(1){
    margin-top: 20px;
}

.middle-text-container-second{
    background-color: #0C1827;
}

.middle-text-container-second div h2 {
    font-size: 3rem;
}

.middle-text-container-third {
    background-color: #ffffffe7;
}

.end-text-container .text-center h2 {
    font-size: 2.5rem;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:12px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #fff;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #fff;	
}

.input-container input:focus ~ label {
	top:-12px;
	font-size:12px;
	
}

.textarea {
    resize: none;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
}

footer div{
    background-color: #0C1827;
}

.icon-container {
    background-color: #39DDF5;
    border-radius: 50%;
    padding: 10px

}

.icon-container .icon-bg{
    border-radius: 50%;
    color: white;
    font-size: 2rem;
}